#include "socfpga_cyclone5_de10nano.dtsi"

/{
    de10nano_adc: de10nano_adc@ff328c50 {
    compatible = "adsd,de10nano_adc";
    reg = <0xff200000 16>;
    };

    pwm: pwm@ff328c50 {
    compatible = "adsd,pwm";
    reg = <0xff328c50 16>;
    };
    
};
